[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = git@github.com:SalamiCo/ActionBarSherlock.git
[submodule "HoloEverywhere"]
	path = HoloEverywhere
	url = https://github.com/Prototik/HoloEverywhere.git
